[Unit]
Description=Audio Streaming Server
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=%h/virtual_lab/Audio
ExecStart=%h/virtual_lab/venv/bin/python3 %h/virtual_lab/Audio/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
