sudo tee /etc/systemd/system/audio_stream.service > /dev/null <<EOF
[Unit]
Description=Audio Streaming Server
After=network.target

[Service]
User=$REAL_USER
WorkingDirectory=$PROJECT_DIR
ExecStart=$PROJECT_DIR/venv/bin/python3 $PROJECT_DIR/Audio/server.py
Restart=always
Environment=PATH=$PROJECT_DIR/venv/bin:/usr/bin

[Install]
WantedBy=multi-user.target
EOF
