[Unit]
Description=Audio Streaming Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/virtual_lab/Audio
ExecStart=/home/pi/virtual_lab/venv/bin/python3 /home/pi/virtual_lab/Audio/server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
