[Unit]
Description=MJPG Streamer
After=network.target

[Service]
ExecStart=/home/pi/mjpg-streamer/mjpg-streamer-experimental/mjpg_streamer -i "/home/pi/mjpg-streamer/mjpg-streamer-experimental/input_uvc.so -d /dev/video0 -y MJPG -r 1280x720 -q 100 -f 30" -o "/home/pi/mj$
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
