[Unit]
Description=Virtual Embedded Lab
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/virtual_lab
ExecStart=/home/pi/virtual_lab/venv/bin/python app.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
